{% extends 'base.html' %}
{% load custom_tag_post %}
{% block content %}
    <div>
        <ul>
            <li><h2>{{ post.title }}</h2></li>
            <li><img src="/image/{{ post.picture }}" style="width: 25%;height: 15%"></li>
            <li>{{ post.content }}</li>
            <li>author: {{ post.author__username }}</li>
            <li>the lifespan of that post: {{ life_time }}</li>
            <li>like: {% count_like post.pk %}</li>
            <li>
                <button onclick="{% like_post post.slug pk_login %}">like</button>
            </li>
            <li>{% comment_detail post.slug %}</li>
        </ul>
        <form method="post" action=" " style="margin-left: 33%;margin-top: -9%;">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="send">
            <p>{{ message }}</p>
        </form>
    </div>
{% endblock %}