{% extends 'base.html' %}
{% block content %}
    <div>
        <table>
            <tr>
                <th>Post Title</th>
                <th>Post Detail</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td><a href="{% url 'detail_post' post.slug %}">Detail of post</a></td>
                </tr>
            {% endfor %}
        </table>
        <p> Number of posts posted : {{ count }}</p>
    </div>
{% endblock %}
