main{
        background: linear-gradient(to left, #c2d7ad, #fdde86);

}
.btn-outline-primary {
    background-color: rgba(26, 47, 56, 0.1);
    border: 1px solid #FBBc0e;
    color: white;
}

.btn-outline-primary:hover {
    background: linear-gradient(to bottom, #f8d063, #FBBc0e);
    color: white;
    border: 1px solid #FBBc0e;

}
.background-color {
    background-color: rgba(244, 255, 201, 0.3);
}

.box {
    width: 66%;
    /*background-color: rgba(26, 47, 56, 0.9);*/
    /*background-color: rgba(42, 157, 143, 0.9);*/
    background: linear-gradient(to left bottom,rgba(42, 157, 143,0.4),rgba(224, 235, 214,0.4));

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    filter: alpha(opacity=100);
}
.img_new_post{
    background: url("../../../images/page/new_post.svg");
}
.img_profile{
    border-radius: 50%;
    width: 20%;
    height: 20%;
}