/* result */
html,body,html{
    height: 100%;
}
.margin_padding {
    margin: 0;
    padding: 0;
}
/* main */
main {
    display: grid;
    grid-template-rows: 1fr 14fr 1fr;
    grid-template-columns: 3fr 17fr 3fr;
    grid-template-areas:"aside1 nav aside2"
                        "aside1 section aside2 "
                        "aside1 footer aside2";
    justify-content: center;
    grid-gap: 2%;
    gap: 2%;
}

nav {
    grid-area: nav;
    background-image: linear-gradient(to bottom, #FCCA46, #a1c181);

}

.logo {
    border-radius: 50%;
    margin-left: 7%;

}
.background{
    background: linear-gradient(to left, #c2d7ad, #fdde86);

}

.icon-search {
    background-image: url("../../images/icon/search.svg");
    width: 32px;
    height: 32px;
}

.link-header {
    margin-left: 3%;
    font-size: xx-large;
    font-weight: bold;
}
/*.li_nav {*/
/*    margin-right: 5%;*/
/*    float: right;*/

/*}*/

section {
    grid-area: section;
}

aside {
    grid-area: aside;
}

a.link {
    text-decoration: none;
}
.icon {
    width: 5%;
    height: 8%;
}
