{% extends 'base.html' %}
{% load custom_tag_account %}
{% block content %}
    <div>
        {% if profile.photo_profile != None %}
            <img src='/image/{{ profile.photo_profile }}/' style="height:20%;width:15%;">
        {% endif %}
        <h4>{{ author.author__first_name }} {{ author.author__last_name }}</h4>
        <ul>
            {% if profile.bio != None %}
                <li>{{ profile.bio }}</li>
            {% endif %}
            {% if profile.website != None %}
                <li>{{ profile.website }}</li>
            {% endif %}
        </ul>
        <p><a href="{% url 'followers_list' author.author %}">followers</a>:{% count_followers author.author %}</p>
        <p><a href="{% url 'following_list' author.author %}">following</a>:{% count_following author.author %}</p>
        <button onclick="{% send_request_follow user.id author.author %}">follow</button>
        {% if user.id == profile.id %}
            <button onclick="window.location.href='{% url 'complete_profile' user.id %}'">Complete Profile</button>
            <a href="{% url 'request' %}">request follow</a>
        {% endif %}

        <table>
            <tr>
                <th>Post Title</th>
                <th>Post Detail</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td><a href="{% url 'detail_post' author.author post.slug %}">Detail of post</a></td>
                    <td>
                        {% if author.author ==  user.id %}
                            <button onclick="window.location.href='{% url 'edit_post' post.slug %}'">Edit Post</button>
                            <button onclick="window.location.href='{% url 'delete_post' post.slug %}'">Delete Post</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p> Number of posts posted : {{ count }}</p>

    </div>
{% endblock %}
