{% load static %}
<!DOCTYPE html>
<html lang="en" class="background">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="zahra najafiyan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/style.css' %}">
    <link rel="stylesheet" type="text/css" href='{% static 'vendor/bootstrap/css/bootstrap.min.css' %}'>

    <title>{% block content0 %}{% endblock %}</title>
</head>
<body style="height: 100%" class="margin_padding">
<main style="height: 100%" class='background'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% block header_content %}{% endblock %}
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

</main>
</body>
</html>