{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="zahra najafiyan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">


  <title>Reminder</title>
</head>
<body class="margin_padding">
        <main>
            <header>
            </header>
            <aside>
                <button onclick="location.href='{% url 'user_login' %}'">Login</button>
{#                <button onclick="location.href='{% url 'user_logout' %}'">Logout</button>#}
                <button onclick="location.href='{% url 'user_register' %}'">Register</button>
                {% block aside_content %}{% endblock %}
            </aside>
            {% block content %}
            <section>

            </section>
            {% endblock %}
            <footer>footer</footer>
        </main>
</body>
</html>