{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="zahra najafiyan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">


  <title>Reminder</title>
</head>
<body class="margin_padding">
        <main>
            <header>
                <nav>
                    <ul style="  ist-style: none;margin: 2rem;padding: 0px;">
{#                    <li style="  margin-left: 3rem;float: right;"><a href="{% url 'profile' user.id %}" >Profile</a></li>#}
                    <li style="  margin-left: 3rem;float: right;"><a href="{% url 'search_result' %}">Search</a></li>
                    <li style="  margin-left: 3rem;float: right;"><a href="{% url 'new_post' %}">New Post</a></li>
                    </ul>
                </nav>
            </header>
            <aside>
                <button onclick="location.href='{% url 'login' %}'">Login</button>
                <button onclick="location.href='{% url 'logout' %}'">Logout</button>
                <button onclick="location.href='{% url 'user_register' %}'">Register</button>
                {% block aside_content %}{% endblock %}
            </aside>
            {% block content %}
            <section>

            </section>
            {% endblock %}
            <footer>footer</footer>
        </main>
</body>
</html>