{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="zahra najafiyan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static 'vendor/bootstrap/css/bootstrap.min.css' %}'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/sign_up/sign_up.css' %}">
    <title>Sign Up</title>
</head>
<body class="margin_padding">
<main>
    <img class="img-background" src="{% static 'images/page/background1.jpg' %}">
    <div class="container positions-sign_in ">
        <form method="post" action="" class="div_form box ps-2 pe-2 row-cols-1  card ">
            {% csrf_token %}
            <img class="logo_sign_in mt-3" src="{% static "images/page/logo1.jpg" %}">
            <h1 class="title">Sign in</h1>
            <div class="form-floating row mb-3">
                {% render_field form.user_name type="text" id="floatingInput" class="form-control input_class" placeholder="text" %}
                <label for="floatingInput">Email or Phone Number:</label>
            </div>

            <div class="form-floating row mb-3">
                {% render_field form.password type="password" id="floatingPassword" class="form-control input_class " placeholder="Password" %}
                <label for="floatingPassword">Password:</label>
            </div>
            <input type="submit" class="btn btn-outline-primary" value="Sign in">

            <p><a class="link-primary" href="{% url 'password_reset' %}">Lost password?</a></p>

        </form>
    </div>
    <p>{{ message }}</p>
    <script src="/apps/account/static/vendor/bootstrap/js/bootstrap.min.js"></script>
</main>
</body>
