{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="zahra najafiyan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static 'vendor/bootstrap/css/bootstrap.min.css' %}'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/sign_up/sign_up.css' %}">
    <title>sign Up</title>
</head>
<body class="margin_padding">
<main>
    <img class="img-background" src="{% static 'images/page/background1.jpg' %}">

    <div class="container positions">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 flex-grow-1">
                <div class="container ">
                    <form method="post" action="" class="div_form box ps-2 pe-2 row-cols-1">
                        {% csrf_token %}
                        <h1 class="title">Sign Up</h1>
                        <div class="form-floating row mb-3 mt-3">
                            {% render_field form.first_name type="text" id="first_name_input" class="form-control input_class" placeholder="text" %}
                            <label for="first_name_input">First Name:</label>
                        </div>
                        <div class="form-floating row mb-3">
                            {% render_field form.last_name type="text" id="last_name_input" class="form-control input_class" placeholder="text" %}
                            <label for="last_name_input">Last Name:</label>
                        </div>
                        <div class="form-floating row mb-3">
                            {% render_field form.user_name type="text" id="username_input" class="form-control input_class" placeholder="text" %}
                            <label for="username_input">Email or Phone Number:</label>

                        </div>
                        <div class="form-floating row mb-3">
                            {% render_field form.password1 type="password" id="Password1" class="form-control input_class" placeholder="Password" %}
                            <label for="Password1">Password:</label>

                        </div>
                        <div class="form-floating row mb-3">
                            {% render_field form.password2 type="password" id="Password2" class="form-control input_class " placeholder="Password" %}
                            <label for="Password2">Password Confirmation:</label>
                        </div>
                        <input type="submit" class="btn btn-outline-primary mb-3" value="Save">
                    </form>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-6  align-self-center card-text box_error box">
                <img class="logo mt-3" src="{% static "images/page/logo1.jpg" %}">
                <h1 class="title">Gasedak</h1>
                <div class="text_error">{{ error }}</div>

            </div>
        </div>
    </div>

    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
</main>
</body>
